<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037881722077-nb30pjopv10jqjfut8t9362i4kdmjdd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037881722077-nb30pjopv10jqjfut8t9362i4kdmjdd2</string>
	<key>API_KEY</key>
	<string>AIzaSyBj5-3Zu-qPU3Fg2lcxlyQKZXE9oBO2NUA</string>
	<key>GCM_SENDER_ID</key>
	<string>1037881722077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bGenius.Anime-Dating-App</string>
	<key>PROJECT_ID</key>
	<string>anime-dating-app-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>anime-dating-app-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037881722077:ios:e0e84f3f4d0e75c7e8c734</string>
</dict>
</plist>